@using GymHub.Common
@model List<SaleInfoViewModel>

@section ImportantLinks{
    <link href="/lib/DataTablesNew/datatables.css" rel="stylesheet" asp-append-version="true"/>
}

<div class="datatable-container-div-custom">
    <h1 style="text-align: center;">Sales</h1>
    <hr />
    <table id="DataTable">
        <thead>
            <tr>
                <th>
                    Order Id
                </th>
                <th>
                    PurchasedOn
                </th>
                <th>
                    Billing Account
                </th>
                <th>
                    Receiving Account
                </th>
                <th>
                    PaymentMethod
                </th>
                <th>
                    Total Price
                </th>
                <th>
                    PaymentStatus
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sale in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => sale.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => sale.PurchasedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(model => sale.BillingAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => sale.ReceivingAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => sale.PaymentMethod.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => sale.TotalPayment)
                    </td>
                    <td>
                        @if (sale.PaymentStatus == GlobalConstants.PendingSaleStatus)
                        {
                            <div class="sales-all-paymentStatus sales-all-paymentStatus-pending">@sale.PaymentStatus</div>
                        }
                        else if (sale.PaymentStatus == GlobalConstants.ConfirmedSaleStatus)
                        {
                            <div class="sales-all-paymentStatus alert-success">@sale.PaymentStatus</div>
                        }
                        else if (sale.PaymentStatus == GlobalConstants.DeclinedSaleStatus)
                        {
                            <div class="sales-all-paymentStatus alert-danger">@sale.PaymentStatus</div>
                        }
                        <a asp-action="Details" asp-controller="Sales" asp-route-saleId="@sale.Id" class="alert-info sales-details-button">Details</a>
                        @if (this.User.IsInRole(GlobalConstants.AdminRoleName))
                        {
                            <a asp-action="ChangeSaleStatus" asp-controller="Sales" asp-route-saleId="@sale.Id" class="alert-info sales-changeStatus-button">Change Status</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/lib/DataTablesNew/datatables.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#DataTable').DataTable();
        });</script>
}
