@using GymHub.Common
@model AllSalesInfoViewModel

@using GymHub.Data.Models.Enums

@section ImportantLinks{
    <link href="/lib/DataTablesNew/datatables.css" rel="stylesheet" asp-append-version="true" />
}

@{
    var salesInfoViewModels = Model.SaleInfoViewModels;
}

<form id="filterForm" style="text-align:right;" asp-action="Search" method="get" asp-area="Administration" asp-controller="Sales">
    <div style="font-size: 36px;">
        @for (int i = 0; i < Model.SaleFilterOptions.Count; i++)
        {
            var filterOption = Model.SaleFilterOptions[i];
            var filterOptionValue = Model.SaleFilterOptions[i].FilterValue;
            var filterOptionName = Model.SaleFilterOptions[i].FilterName;
            <div class="input-container-inline">
                <input type="checkbox" asp-for="SaleFilterOptions[i].FilterValue">
                <input type="hidden" asp-for="SaleFilterOptions[i].FilterName" />
                <label asp-for="SaleFilterOptions[i].FilterValue" class="input-label-inline"> @filterOptionName </label>
            </div>
        }
    </div>
    <button style="margin-top:10px;" form="filterForm">Filter Sales</button>
</form>

<br>
<div class="datatable-container-div-custom">
    <h1 style="text-align: center;">Sales</h1>
    <hr />
    <table id="DataTable">
        <thead>
            <tr>
                <th>
                    Order Id
                </th>
                <th>
                    PurchasedOn
                </th>
                <th>
                    Billing Account
                </th>
                <th>
                    Receiving Account
                </th>
                <th>
                    PaymentMethod
                </th>
                <th>
                    Total Price
                </th>
                <th>
                    PaymentStatus
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sale in salesInfoViewModels)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => sale.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => sale.PurchasedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(model => sale.BillingAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => sale.ReceivingAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(model => sale.PaymentMethod.Name)
                    </td>
                    <td>
                        $@sale.TotalPayment
                    </td>
                    <td>
                        @if (sale.PaymentStatus == GlobalConstants.PendingSaleStatus)
                        {
                            <div class="sales-all-paymentStatus sales-all-paymentStatus-pending">@sale.PaymentStatus</div>
                        }
                        else if (sale.PaymentStatus == GlobalConstants.ConfirmedSaleStatus)
                        {
                            <div class="sales-all-paymentStatus alert-success">@sale.PaymentStatus</div>
                        }
                        else if (sale.PaymentStatus == GlobalConstants.DeclinedSaleStatus)
                        {
                            <div class="sales-all-paymentStatus alert-danger">@sale.PaymentStatus</div>
                        }
                        else if (sale.PaymentStatus == GlobalConstants.RefundedSaleStatus)
                        {
                            <div class="sales-all-paymentStatus sales-all-paymentStatus-refunded">@sale.PaymentStatus</div>
                        }
                        <a asp-action="Details" asp-controller="Sales" asp-route-saleId="@sale.Id" class="alert-info sales-details-button">Details</a>
                        @if (this.User.IsInRole(GlobalConstants.AdminRoleName))
                        {
                            @if (sale.PaymentStatus == GlobalConstants.ConfirmedSaleStatus && sale.PaymentMethod.Name == GlobalConstants.PaymentMethodDebitOrCreditCard)
                            {
                                <form hidden asp-action="Refund" asp-area="Administration" asp-controller="Sales" id="refundForm">
                                    <input type="hidden" value="@sale.Id" name="saleId" />
                                </form>
                                <!-- Button trigger modal -->
                                <div>
                                    <button class="btn btn-primary sales-refund-button" data-toggle="modal" data-target="#exampleModal">
                                        Refund
                                    </button>
                                </div>
                            }
                            else if (sale.PaymentStatus == GlobalConstants.PendingSaleStatus)
                            {
                                <a asp-action="ChangeSaleStatus" asp-area="Administration" asp-controller="Sales" asp-route-saleId="@sale.Id" class="alert-info sales-changeStatus-button">Change Status</a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to refund purchase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Once you refund a purchase, you can't double back on it. So think carefully before refunding.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="refundForm" class="btn btn-primary">Refund</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/DataTablesNew/datatables.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#DataTable').DataTable();
        });</script>
}
