@page
@using GymHub.Web.Areas.Identity.Pages.Account
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@{ 
    var View = Model.ViewModel;
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All"></div>
            <div class="input-container">
                <label asp-for="Input.Email" class="input-label"></label>
                <input type="email" asp-for="Input.Email" class="input-label" placeholder="Type email here" />
                <span asp-validation-for="Input.Email" class="validation-span"></span>
            </div>
            <div class="input-container">
                <label asp-for="Input.Password" class="input-label"></label>
                <input type="password" asp-for="Input.Password" class="input-label" placeholder="Type password here" />
                <span asp-validation-for="Input.Password" class="validation-span"></span>
            </div>
            <div class="input-container">
                <label asp-for="Input.ConfirmPassword" class="input-label"></label>
                <input type="password" asp-for="Input.ConfirmPassword" class="input-label" placeholder="Type confirm password here" />
                <span asp-validation-for="Input.ConfirmPassword" class="validation-span"></span>
            </div>
            <div class="input-container">
                <label asp-for="Input.FirstName" class="input-label"></label>
                <input asp-for="Input.FirstName" type="text" placeholder="Type first name here">
                <span asp-validation-for="Input.FirstName" class="validation-span"></span>
            </div>
            <div class="input-container">
                <label asp-for="Input.MiddleName" class="input-label"></label>
                <input asp-for="Input.MiddleName" type="text" placeholder="Type middle name here">
                <span asp-validation-for="Input.MiddleName" class="validation-span"></span>
            </div>
            <div class="input-container">
                <label asp-for="Input.LastName" class="input-label"></label>
                <input asp-for="Input.LastName" type="text" placeholder="Type last name here">
                <span asp-validation-for="Input.LastName" class="validation-span"></span>
            </div>
            <div class="input-container">
                <label asp-for="Input.Username" class="input-label"></label>
                <input asp-for="Input.Username" type="text" placeholder="Type username here">
                <span asp-validation-for="Input.Username" class="validation-span"></span>
            </div>
            <div class="input-container">
                <label asp-for="Input.DateOfBirth" class="input-label"></label>
                <input asp-for="Input.DateOfBirth" type="date">
                <span asp-validation-for="Input.DateOfBirth" class="validation-span"></span>
            </div>
            <div class="input-container">
                <label asp-for="Input.GenderId" class="input-label"></label>
                <select asp-for="Input.GenderId">
                    <option value="">Gender</option>
                    @foreach (var gender in View.Genders)
                    {
                        <option value="@gender.Id">@gender.Name</option>
                    }
                </select>
                <span asp-validation-for="Input.GenderId" class="validation-span"></span>
            </div>
            <div class="button-container">
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
            <hr />
            <p style="text-align:center;">Already have an account? Login<a asp-area="Identity" asp-page="/Account/Login"> here.</a></p>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
