@using GymHub.Data.Models
@using GymHub.Common
@using GymHub.Services
@inject IProductCommentService productCommentService

@model ProductCommentPartialViewModel
@{
    var comment = Model.Comment;
    var userProductRating = Model.UserProductRating;
}

<div class="container-md product-comment-container @(Model.Comment.ParentComment == null ? "product-comment-parent-container" : "") @(Model.BelongsToCurrentUser ? "product-comment-currentUser" : null)">
    <div class="product-comment-userinfo-container">
        <span>
            <b>@comment.User.UserName</b> | Commented On: @comment.CommentedOn.ToLongDateString() @comment.CommentedOn.ToLongTimeString() | Rated: @(Model.HasReviewed == true ? "" : "None")
        </span>
        @if (Model.HasReviewed)
        {
            <span style="margin-left:5px;">
                @for (int i = 0; i < userProductRating.FullStarsCount; i++)
                {
                    <i class="fa fa-star gold"></i>
                }
                @if (userProductRating.HasHalfStar == true)
                {
                    <i class="fa fa-star-half-o gold"></i>
                }
                @for (int i = 0; i < userProductRating.EmptyStarsCount; i++)
                {
                    <i class="fa fa-star-o gold"></i>
                }
            </span>
        }
        <hr class="product-comment-userinfo-hr" />
    </div>
    <div class="product-comment-textfield">
        <p class="align-self-md-end product-comment-text" style="font-size: larger;padding-bottom: 10px;">
            @if (comment.ParentComment?.User != null)
            {
                <span class="alert-light">@@@comment.ParentComment?.User?.UserName</span>
            }
            @comment.Text
        </p>
        <p hidden id="ReplyProductId">@comment.ProductId</p>
        <p hidden id="ReplyCommentId">@comment.Id</p>
        <p hidden id="ReplyCommentCounter">@Model.CommentCounter</p>
        @if (Model.BelongsToCurrentUser == true)
        {
            @await Html.PartialAsync("_ProductEditReviewPartial.cshtml", new EditReviewInputModel(userProductRating, comment.Text, comment.ProductId, comment.Id, comment.ParentCommentId == null, Model.CommentCounter));
        }
        @{
            var replyCommentInputModel = Model.ReplyCommentInputModel;
        }
        @if (replyCommentInputModel != null && comment.Id == replyCommentInputModel.ParentCommentId)
        {
            replyCommentInputModel.CommentCounter = Model.CommentCounter;
            @await Html.PartialAsync("_ProductCommentReplyPartial.cshtml", replyCommentInputModel);
        }
    </div>
    <div class="container">
        <div class="product-comment-likes-container">
            <form method="post">
                <input class="product-comment-like-commentId" hidden value="@Model.Comment.Id" />
            </form>
            <span>@productCommentService.GetCommentLikesCount(Model.Comment.Id)</span>
            @if (productCommentService.UserHasLikedComment(Model.Comment.Id, Model.CurrentUserId) == false)
            {
                <i class="far fa-thumbs-up blue product-comment-like-button"></i>
            }
            else
            {
                <i class="fas fa-thumbs-up blue product-comment-like-button"></i>
            }
        </div>
        @if (Model.RepliesCount > 0)
        {
            <button class="product-comment-replies-button @(Model.BelongsToCurrentUser ? "product-comment-currentUser" : null)">Show replies(@Model.RepliesCount)</button>
        }
        @if (Model.BelongsToCurrentUser)
        {
            <button class="product-comment-edit-button product-comment-currentUser">Edit</button>
        }
        else
        {
            <button class="product-comment-reply-button">Reply</button>
        }
        @if (Model.BelongsToCurrentUser == true || this.User.IsInRole(GlobalConstants.AdminRoleName))
        {
            <form method="post" asp-controller="ProductsComments" asp-action="RemoveComment" asp-route-productId="@comment.ProductId" class="product-comment-remove-form">
                <input hidden class="post-pageFragment" name="pageFragment"/>
                <input hidden name="RemoveCommentId" value="@comment.Id"/>
                <button type="submit" class="product-comment-remove-button alert alert-danger">Remove</button>
                @Html.ValidationMessage("RemoveCommentId", new { @class = "validation-message alert-danger"})
            </form>
        }
    </div>
</div>
