@model EditProductInputModel
@using GymHub.Services.ServicesFolder.CategoryService
@inject ICategoryService categoryService

@section AdditionalLinks{

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" asp-append-version="true">
    <link href="~/css/ProductPageForOnlineShop.css" rel="stylesheet" asp-append-version="true" />
    <link href="/css/ProductPageCommentBox.css" rel="stylesheet" asp-append-version="true" />
    <!------ Include the above in your HEAD tag ---------->
}
<form asp-controller="Products" asp-action="Edit" method="post" class="product-addProduct-form" enctype="multipart/form-data">
    <input hidden type="hidden" asp-for="ImagesAsFileUploads" value="@(Model != null ? Model.ImagesAsFileUploads : false)" />
    <h2 class="product-edit-actionMessage-title">Edit Product.</h2>
    <hr />
    <h3 class="product-edit-actionMessage-title alert-warning">
        Warning! If a product image file is locked, then it will not be edited. If it is unlocked, but there is no file selected, the image will be removed from the product.<br />
        Refer to the product preview button to see how the page will look once edited.
    </h3>
    <div asp-validation-summary="All" class="alert-danger"></div>
    <div class="image-mode-container">
        @if (Model?.ImagesAsFileUploads == true)
        {
            <p class="image-mode-button alert-info">Switch to image links</p>
        }
        else
        {
            <p class="image-mode-button alert-info">Switch to image uploads</p>
        }
    </div>
    <div @(Model?.ImagesAsFileUploads == true ? "hidden" : "") class="image-links-container">
        <div class="input-container">
            <label asp-for="MainImage" class="input-label">Main image</label>
            <input asp-for="MainImage" type="text" placeholder="Type url here" class="input-link input-image-link-main">
            <span asp-validation-for="MainImage" class="validation-span"></span>
        </div>
        @for (int i = 0; i < 3; i++)
        {
            @if (Model?.AdditionalImages != null)
            {
                @if (Model.AdditionalImages.Count <= i) Model.AdditionalImages.Add(null);
                <div class="input-container">
                    <label asp-for="AdditionalImages[i]" class="input-label">Additional image @(i+1)</label>
                    <input asp-for="AdditionalImages[i]" class="product-addProduct-additionalImage input-link" type="text" placeholder="Type url here">
                    <span asp-validation-for="AdditionalImages[i]" class="validation-span"></span>
                </div>
            }
            else
            {
                <div class="input-container">
                    <label asp-for="AdditionalImages[i]" class="input-label">Additional image @(i+1)</label>
                    <input asp-for="AdditionalImages[i]" class="product-addProduct-additionalImage input-link" type="text" placeholder="Type url here">
                    <span asp-validation-for="AdditionalImages[i]" class="validation-span"></span>
                </div>
            }
        }
    </div>
    <div @(Model?.ImagesAsFileUploads == false || Model?.ImagesAsFileUploads == null ? "hidden" : "") class="image-uploads-container">
        <div class="input-container">
            <label asp-for="MainImageUploadInfo.ImageUpload" class="input-label">Main image</label>
            <input asp-for="MainImageUploadInfo.ImageUpload" placeholder="Type url here" class="input-image-upload input-image-upload-main edit-deactivated">
            <span class="product-edit-image-upload-lock">
                <i class="fas fa-lock"></i>
            </span>
            <span asp-validation-for="MainImageUploadInfo.ImageUpload" class="validation-span"></span>
            <img hidden class="input-image-upload-image image-upload-main" src="@Model.MainImageUploadInfo.ModifiedImage.Path" />

            <input type="hidden" class="input-image-originalImagePath" value="@Model.MainImageUploadInfo.ModifiedImage.Path" />
            <span hidden class="input-image-hasNotBeenModified"></span>
            <input type="hidden" asp-for="MainImageUploadInfo.IsBeingModified" value="@Model.MainImageUploadInfo.IsBeingModified" class="input-image-isBeingModified" />
            <input type="hidden" asp-for="MainImageUploadInfo.ModifiedImage.Id"/>
        </div>
        @for (int i = 0; i < 3; i++)
        {
            @if (Model.AdditionalImagesUploadsInfo == null) Model.AdditionalImagesUploadsInfo = new List<EditProductImageUploadInputModel>();
            @if (Model.AdditionalImagesUploadsInfo.Count <= i) Model.AdditionalImagesUploadsInfo.Add(new EditProductImageUploadInputModel { ModifiedImage = new ImageIdAndPathInputModel { } });
            <div class="input-container">
                <label asp-for="AdditionalImagesUploadsInfo[i].ImageUpload" class="input-label">Additional image @(i+1)</label>
                <input asp-for="AdditionalImagesUploadsInfo[i].ImageUpload" class="product-addProduct-additionalImageUpload input-image-upload edit-deactivated" placeholder="Type url here">
                <span class="product-edit-image-upload-lock">
                    <i class="fas fa-lock"></i>
                </span>
                <span asp-validation-for="AdditionalImagesUploadsInfo[i].ImageUpload" class="validation-span"></span>
                <img hidden class="input-image-upload-image image-upload-additional" src="@Model.AdditionalImagesUploadsInfo[i]?.ModifiedImage?.Path" />

                <input type="hidden" class="input-image-originalImagePath" value="@Model.AdditionalImagesUploadsInfo[i].ModifiedImage.Path" />
                <span hidden class="input-image-hasNotBeenModified"></span>
                <input type="hidden" asp-for="AdditionalImagesUploadsInfo[i].IsBeingModified" value="@Model.AdditionalImagesUploadsInfo[i].IsBeingModified"  class="input-image-isBeingModified" />
                <input type="hidden" asp-for="AdditionalImagesUploadsInfo[i].ModifiedImage.Id" />
            </div>
            @*TODO: REMOVE THIS IF IT ISN'T NECESSARY*@
            @*@if (Model?.AdditionalImagesUploadsInfo != null)
                {
                    @if (Model.AdditionalImagesUploadsInfo.Count <= i) Model.AdditionalImagesUploadsInfo.Add(null);
                    <div class="input-container">
                        <label asp-for="AdditionalImagesUploadsInfo[i].ImageUpload" class="input-label">Additional image @(i+1)</label>
                        <input asp-for="AdditionalImagesUploadsInfo[i].ImageUpload" class="product-addProduct-additionalImageUpload input-image-upload edit-deactivated" placeholder="Type url here">
                        <span class="product-edit-image-upload-lock">
                            <i class="fas fa-lock"></i>
                        </span>
                        <span asp-validation-for="AdditionalImagesUploadsInfo[i].ImageUpload" class="validation-span"></span>
                        <img hidden class="input-image-upload-image image-upload-additional" />

                        <input type="hidden" asp-for="AdditionalImagesUploadsInfo[i].IsBeingModified" class="input-image-isBeingModified"/>
                        <input type="hidden" asp-for="AdditionalImagesUploadsInfo[i].ModifiedImageId"/>
                    </div>
                }
                else
                {
                    <div class="input-container">
                        <label asp-for="AdditionalImagesUploadsInfo[i].ImageUpload" class="input-label">Additional image @(i+1)</label>
                        <input asp-for="AdditionalImagesUploadsInfo[i].ImageUpload" class="product-addProduct-additionalImageUpload input-image-upload edit-deactivated" placeholder="Type url here">
                        <span asp-validation-for="AdditionalImagesUploadsInfo[i].ImageUpload" class="validation-span"></span>
                        <span class="product-edit-image-upload-lock">
                            <i class="fas fa-lock"></i>
                        </span>
                        <img hidden class="input-image-upload-image image-upload-additional" />

                        <input type="hidden" asp-for="AdditionalImagesUploadsInfo[i].IsBeingModified" class="input-image-isBeingModified"/>
                        <input type="hidden" asp-for="AdditionalImagesUploadsInfo[i].ModifiedImageId"/>
                    </div>
                }*@
        }
    </div>
    <div class="input-container">
        <label asp-for="Name" class="input-label"></label>
        <input type="text" asp-for="Name" class="input-label product-add-name" placeholder="Type name here" />
        <span asp-validation-for="Name" class="validation-span"></span>
    </div>
    <div class="input-container">
        <label asp-for="Model" class="input-label"></label>
        <input type="text" asp-for="Model" class="input-label product-add-model" placeholder="Type model here" />
        <span asp-validation-for="Model" class="validation-span"></span>
    </div>
    <div class="input-container">
        <label asp-for="Price" class="input-label">Price($) </label>
        <input type="number" asp-for="Price" class="input-label" placeholder="Type price here" />
        <span asp-validation-for="Price" class="validation-span"></span>
    </div>
    <div class="input-container">
        <label asp-for="Description" class="input-label"></label>
        <textarea asp-for="Description" class="product-addProduct-description" placeholder="Type description here"></textarea>
        <span asp-validation-for="Description" class="validation-span"></span>
    </div>
    <div class="input-container">
        <label asp-for="Warranty" class="input-label"></label>
        <input asp-for="Warranty" type="number" placeholder="Type warranty here in months">
        <span asp-validation-for="Warranty" class="validation-span"></span>
    </div>
    <div class="input-container">
        <label asp-for="QuantityInStock" class="input-label"></label>
        <input asp-for="QuantityInStock" type="number" placeholder="Type quantity in stock here">
        <span asp-validation-for="QuantityInStock" class="validation-span"></span>
    </div>
    <div class="input-container" id="product-categories-container">
        @if (Model?.CategoriesIds?.Count > 0)
        {
            @for (int i = 0; i < Model.CategoriesIds.Count; i++)
            {
                var addCategoryToProductViewModel = new AddCategoryToProductViewModel
                {
                    Counter = i + 1,
                    SelectedCategory = Model.CategoriesIds[i],
                    Categories = categoryService.GetAllCategories().Select(x => new CategoryViewModel { Name = x.Name, Id = x.Id }).ToList()
                };
                <partial name="_AddCategoryToProductPartial.cshtml" model="addCategoryToProductViewModel" />
            }
        }
        <div class="container" id="addCategoryToProduct-container">
            <span id="product-addCategory-span">Add category</span><i class="fas fa-plus" id="addCategoryToProduct"></i>
        </div>
    </div>
    <div class="button-container">
        <input hidden type="text" asp-for="Id" />
        <button type="submit">Edit product</button>
    </div>
    <div class="button-container">
        <button class="product-addProduct-previewPage-button" type="button">Preview Page</button>
    </div>
    @*TODO ENABLE THIS IN RELEASE*@
    @*<div class="button-container">
            <a class="product-addProduct-cancel-button alert-danger" href="/Admin/AdminControls">Cancel</a>
        </div>*@
</form>
@if (Model != null)
{
    <partial name="_AddProductPreviewPartial.cshtml" />
}
@section Scripts{
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js" asp-append-version="true"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js" asp-append-version="true"></script>

    <!--My Scripts-->
    <script src="~/js/AddProductPage/PreviewPage.js" asp-append-version="true"></script>
    <script src="~/js/Shared/ChangeProductImage.js" asp-append-version="true"></script>
    <script src="~/js/AddProductPage/AddCategoryToProduct.js" asp-append-version="true"></script>
    <script src="~/js/AddProductPage/SwitchImageMode.js" asp-append-version="true"></script>
    <script src="~/js/AddProductPage/LoadImageFromFileInput.js" asp-append-version="true"></script>
    <script src="~/js/EditProductPage/ManageImageUploadsLock.js" asp-append-version="true"></script>

    <partial name="_ValidationScriptsPartial.cshtml">
}
